.yellow-area {
  grid-area: yellow-area;
  background-color: #f1c40f;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: 36vw 9vw;
  grid-template-rows: 36vw 9vw;
  grid-template-areas:
    "input-grid bonus-col"
    "points-row bonus-col";
  
  .input-wrapper {
    grid-template-columns: 9vw 9vw 9vw 9vw;
    grid-template-rows: 9vw 9vw 9vw 9vw;
  }

  .bonus-wrapper {
    grid-template-rows: 9vw 9vw 9vw 9vw 9vw;
  }

  .points-wrapper {
    grid-template-columns: 9vw 9vw 9vw 9vw;
  }
}
