.points {
  border: 0.1px solid #2c3e50;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "comic sans ms";
  color: #ecf0f1;
  z-index: 5;
  font-size: 2vw;
  padding: 0.5vw;
}
