.input-wrapper {
  grid-area: input-grid;
  display: grid;
  position: relative;

  $tipSize: 1vw;
  $color: white;

  .arrows-wrapper {
    $margin: 0;
    position: absolute;
    z-index: 0;
    left: $margin;
    right: $margin;
    top: $margin;
    bottom: $margin;

    &.direction-x {
      left: 3.5vw;

      .arrow {
        left: 0;
        right: 0;
        height: 2px;
        transform: translateY(-50%);

        &:after {
          display: table;
          content: "";
          border: $tipSize solid transparent;
          border-right: 0;
          border-left-color: $color;
          position: absolute;
          top: 1px;
          right: -$tipSize;
          transform: translateY(-50%);
        }

        &:first-child {
          top: 12.5%;
        }

        &:nth-child(2) {
          top: 12.5% + 25%;
        }

        &:nth-child(3) {
          top: 12.5% + 50%;
        }

        &:last-child {
          top: 100% - 12.5%;
        }
      }
    }

    &.direction-y {
      top: 3.5vw;

      .arrow {
        top: 0;
        bottom: 0;
        width: 2px;

        &:after {
          display: table;
          content: "";
          border: $tipSize solid transparent;
          border-bottom: 0;
          border-top-color: $color;
          position: absolute;
          left: 1px;
          bottom: -$tipSize;
          transform: translateX(-50%);
        }

        &:first-child {
          left: 12.5%;
        }

        &:nth-child(2) {
          left: 12.5% + 25%;
        }

        &:nth-child(3) {
          left: 12.5% + 50%;
        }

        &:last-child {
          left: 100% - 12.5%;
        }
      }
    }

    &.direction-z {
      left: 3.5vw;
      top: 3.5vw;
      background: linear-gradient(to top right, transparent calc(50% - 2px), $color, transparent calc(50% + 2px) );

      .arrow {
        bottom: 0;
        right: 0;
        transform: rotate(45deg);

        &:after {
          display: table;
          content: "";
          border: $tipSize solid transparent;
          border-right: 0;
          border-left-color: $color;
          position: absolute;
          top: 1px;
          right: -$tipSize;
          transform: translateY(-50%);
        }
      }
    }
  }

  .arrow {
    position: absolute;
    background-color: $color;
  }
}