.game-info {
  display: grid;
  grid-area: game-info;
  background-color: rgb(74, 107, 164);
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: 5em;
  grid-template-areas:
    "rounds redo"
    "rounds plus-one";

  .plus-one,
  .redo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    background-color: #95a5a6;
    width: 100%;

    .input {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: #ecf0f1;
      border: 0.1px solid #34495e;
    }
    .bonus {
      text-align: center;
      color: #f1f1ec;
      align-self: center;
      justify-self: center;
      width: 1em;
      height: 1em;
      background-color: #2c3e50;
      border: #ecf0f1 0.1px solid;
      border-radius: 5px;
      padding: 0.3em;
      font-size: 2em;
      font-family: "comic sans ms";
    }
  }

  .plus-one {
    grid-area: plus-one;
  }
  .redo {
    grid-area: redo;
  }

  .round {
    display: grid;
    background-color: #34495e;
    grid-area: rounds;

    .bonus {
      justify-self: center;
      width: 3em;
      border: #ecf0f1 0.1px solid;
      border-radius: 5px;
      padding: 0.5em;
    }
  }
}
