.game-info {
	padding-right: env(safe-area-inset-right);
	display: grid;
	grid-area: game-info;
	grid-template-columns: 1fr 8fr;
	grid-auto-rows: 5em;
	grid-template-areas:
		'rounds redo '
		'rounds plus-one ';

	.plus-one,
	.redo {
		align-items: center;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 7fr;
		grid-template-areas: 'bonus input';
		.input-wrapper {
			grid-area: input;
			grid-template-columns: repeat(7, 1fr);
			.input-container {
				.input {
					padding: 0;
					justify-self: center;
					border-radius: 50%;
					&[disabled] {
						background-color: none;
					}
					&.selected {
						background-color: #34495e;
					}
				}
			}
		}
		.bonus-wrapper-row {
			grid-area: bonus;
		}
	}

	.plus-one {
		grid-area: plus-one;
	}

	.round {
		padding-left: env(safe-area-inset-left);
		border-radius: 0.3em;
		margin: 0.1em;
		background-color: #34495e;
		display: grid;
		justify-content: center;
		align-items: center;
		grid-area: rounds;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'round-counter'
			'actual-bonus';

		.round-counter {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-area: round-counter;

			button {
				cursor: pointer;
				font-size: 1.4em;
				color: #4fc3f7;
				background-color: #424242;
				border: 1px solid #4fc3f7;
				border-radius: 0.4em;
				height: 2em;
				width: 2em;
				align-self: center;
				justify-self: center;
			}

			.players {
				color: #ecf0f1;
				margin-top: 0.2em;
				font-size: 0.7em;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.actual-bonus {
			.left {
				position: relative;
				right: 0.5em;
				top: 0.5em;
			}
			.right {
				position: relative;
				left: 0.5em;
				bottom: 0.5em;
				background-color: #34495e;
			}
			grid-area: actual-bonus;

			.bonus-wrapper-col {
				.icon {
					margin: 0.1em;
				}
			}
		}
	}
}
